body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('tu-imagen.jpg');
    background-size: cover;
}

#perfil {
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.carrusel {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 0;
}

.card {
    width: 200px;
    margin: 0 10px;
    display: inline-block;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
