<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for ('static', filename ='css/login_style.css')}}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="{{ url_for ('static', filename ='js/login_script.js')}}" type="module"></script>
    <title>Radiant Vision || Login</title>
  </head>

  <body>


     <!-- Modal de resultado -->
<div class="modal fade" id="res" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bg-dark">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Registro Exitoso! Vuelve a iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¡Te has registrado correctamente! Vuelve a iniciar sesión para que la herramienta comience a analizar tus partidas
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-primary btn-save-changes bg-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

    <div class="container" id="container">
      <div class="form-container sign-up">
        <form method="post">
          <h1>Crear una cuenta</h1>
          <div class="social-icons">
            <a href="#" class="icon"
              ><i class="fa-brands fa-google-plus-g"></i
            ></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <span>Si prefieres... usa tu email para registrarte</span>
          <input type="text" name="user_name" placeholder="Nombre de usuario" />
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Contraseña" />
          <button type="submit" name="signup" value="Signup">
            Registrarse
          </button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form method="post" id="login-form">
          <h1>Iniciar sesión</h1>
          <div class="social-icons">
            <a href="#" class="icon"
              ><i class="fa-brands fa-google-plus-g"></i
            ></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <span>Si prefieres... usa tu email para registrarte</span>
          <input type="email" id="email2" placeholder="Email" />
          <input type="password" id="password2" placeholder="Contraseña" />
          <a href="#">¿Olvidaste tu contraseña? click aqui</a>
          <button type="submit" name="login" value="Login">Ingresar</button>
          <a
            href="/home"
            class="btn btn-outline-dark mx-2"
            role="button"
            >Regresar</a
          >
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Bienvenido!</h1>
            <p>
              Ingresa tus datos personales para accedar al contenido de la
              página...
            </p>
            <button class="hidden" id="login">Ingresar</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hola, jugador!!</h1>
            <p>
              Registrate con tus datos para usar el contenido de la página
            </p>
            <button
              class="hidden mb-5"
              id="register"
              data-bs-toggle="modal"
              data-bs-target="#registers"
            >
              Registrate
            </button>

            <a role="button"data-bs-toggle="modal"
            data-bs-target="#privacity">
                Click aquí para ver Acuerdo de privacidad
              <a>

          </div>
        </div>
      </div>

      <!-- Modal registro -->
    <div
    class="modal fade"
    id="registers"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog bg-dark">
      <div class="modal-content text-white">
        <div class="modal-header bg-dark">
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">
            Registro
          </h1>
          <button
            type="button"
            class="btn-close bg-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">

          <form id="signup-form" class="p-4">
            <input type="text" id="text3" placeholder="Usuario" required/>
            <input type="email" id="email3" placeholder="Email" required/>
            <input type="password" id="password3" placeholder="Contraseña" required/>
          

        </div>
        <div class="modal-footer bg-dark">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary btn-save-changes bg-danger">
            Registrarse
          </button>          
        </form>
        </div>
      </div>
    </div>




      <!-- Modal Acuerdo -->
      <div
        class="modal fade"
        id="privacity"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content bg-white">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="privacity">
                Modal title
              </h1>
              <button
                type="button"
                class="btn-close bg-white"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary btn-save-changes"
                data-bs-dismiss="modal"
              >
                ¡De Acuerdo!
              </button>
            </div>
          </div>
        </div>
      </div>





    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>
