<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Radiant Vision</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="/home" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap"
    rel="stylesheet" />
</head>

<body data-navbar-url="{{ url_for('static', filename='html/nav.html') }}">
  <div id="navbar-container"></div>
  <!-- Header -->
  <header>
    <div>
      <h1 class="display-4">Bienvenido a Radiant Vision</h1>
      <p class="lead">
        ¡Estas a un paso de mejorar!<br />Para terminar, necesitamos que cuentes con un perfil en <a href="https://tracker.gg/valorant">Valorant Tracker.gg</a>. <br>
        Si ya cuentas con un perfil existente en <a href="https://tracker.gg/valorant">Valorant Tracker.gg</a>, coloca el URL de tu perfil para comenzar.
      </p>
    </div>
  </header>


  <section class="container mt-4" id="tracker">

    <form action="">
        <input type="text" id="tracker"/>
        <button type="submit" class="btn btn-primary btn-save-changes bg-danger">
            ¡Comenzar!
        </button> 
    </form>

    </section>
  </div>

  <footer>© 2024 Radiant Vision. Todos los derechos reservados.</footer>

  <!-- Bootstrap JavaScript y dependencias -->

  <script src="{{ url_for('static', filename='js/loadnav.js') }}" type="module"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
</body>

</html>